body{

    min-width: 200px;
          margin-left: 10px;
          margin-right: 10px;
    background-color: lightblue;
    
      
    }
    p{
        font-family: "Times New Roman";
        font-size:12px;
    }
    a.button {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
    
        text-decoration: none;
        color: black;
        background-color: #f0f0f0;
    
        border-radius: 5px;
          border: 1px solid #000000;
          padding: 3px;
    
          margin-top: 2px;
          margin-left: 2px;
          margin-right: 2px;
          margin-top: 2px;
    }
    