{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <form action="{% url 'polls:view_content_list' url_inp %}" method="post">
        <fieldset>
            {% if content_exists %}
            <legend><h1>Content</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <div class="table">
            {% for content in content_exists %}
                <div class="row">
                    <div class="cell"><p>Content:{{content.identifier}}&emsp;Reason:{{content.reason}}&emsp;Placeholder:{{content.placeholder}}&emsp;isblocked:{{content.isblocked}}</p></div>
                </div>
            {% endfor %}
            </div>
            {% else %}
            <p>No content is blocked for this url.</p>
            {% endif %}
        </fieldset>
        <input type="submit" value="Done">
    </form>